.boards-container {
    border: solid black 2px;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.player-board, .computer-board {
    border: solid black 2px;
    display: grid;
    grid-template-rows: repeat(10, 1fr)
}

.player-row, .comp-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.player-cell, .comp-cell {
    border: solid black 1px;
}

.player-cell:hover {
    background-color: lightblue;
}

.comp-cell:hover {
    background-color: pink;
}