.boards-container {
    border: solid black 2px;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.player-board {
    border: solid black 2px;
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}

.computer-board {
    border: solid black 2px;
}

.playerCell {
    border: solid black 1px;
}